@import "./../../sass/style.scss";

@media screen and (min-width: 420px){
  .header{
    display: grid;
    grid-template-columns: $x6grid;
    grid-template-rows: $x6grid;

    .home__link{
      grid-column: 2/ 4;
      grid-row: 2/ 6;
      text-decoration: none;

      .title{
        margin: 2vh 0 4vh 0;

        .site_name{
          font-family: $primaryFont;
          font-size: $titleFontSize;
          color: $bronzeColor;
          max-width: 150px;

          .silver{
            color: $silverColor;
          }

          .gold{
            color: $goldColor;
          }
        }
      }
    }

    .testUser{
      font-family: $secondaryFont;
      font-size: 0.8em;
      text-align: justify;
      font-weight: bold;
      cursor: pointer;
      max-width: 100px;
      display: grid;
      place-items: center;

      &__link{
        text-decoration: none;
        grid-column: 5/ 6;
        grid-row: 4 / 5;
        &:visited{
          color: #000
        }
      }

      &__img{
        border-radius: 20%;
        box-shadow: $shadow;
        margin-bottom: 2vh;
      }

      &__tier{
        text-transform: uppercase;
      }
    }
  }
}

@include desktop{
  .header{
    .testUser{
      grid-column: 6 / 7;
    }
  }
}
